ul{
    list-style-type: none;
}


/* pengalaman */

.Pengalaman{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.2rem;
}

.Pengalaman li{
    text-align: left;
}


.kemampuan{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.2rem;
}

.kemampuan li{
    text-align: left;
}


.sertifikat{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.2rem;
}

.sertifikat li{
    text-align: left;
}