@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */

.judul-porto{
    font-family: 'Ubuntu', sans-serif;
}

.porto-web li{
    text-align: left;
    list-style-type: none;
}

.judul-porto-web{
    font-family: 'Roboto', sans-serif;
}

.porto-web{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr;
    grid-gap: 0.2rem;
}

.img-porto1{
    height: 300px;
}

.img-porto2{
    height: 300px;
}

.judul-porto-tulis{
    font-family: 'Roboto', sans-serif;
}

.porto-tulis li{
    text-align: left;
}

.skripsi{
    margin-left: 1.5%;
}